This notebook aims to address the questions from Homework 1 for the 2024 cohort of the [__Machine Learning Zoomcamp__](https://github.com/DataTalksClub/machine-learning-zoomcamp/tree/master).

__Q1.__  What's the version of Pandas that you installed?

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

__Getting the data__

In [3]:
#download the data
#Run this cell only once.
##!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

In [4]:
df = pd.read_csv('laptops.csv')

In [5]:
#first elements of the data
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [6]:
#last elements of the data
df.tail()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

In [7]:
#Letâ€™s take a look at the column names, data types, and the number of non-null values.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [8]:
df.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

__Q2.__ How many records are in the dataset?

In [9]:
n_records = len(df)
print(f'There are {n_records} records in the dataset')

There are 2160 records in the dataset

__Q3.__ How many laptop brands are presented in the dataset?

In [10]:
df['Brand'].str.lower().nunique()

27

__Q4.__ How many columns in the dataset have missing values?

In [11]:
df.isnull().any()

Laptop          False
Status          False
Brand           False
Model           False
CPU             False
RAM             False
Storage         False
Storage type     True
GPU              True
Screen           True
Touch           False
Final Price     False
dtype: bool

In [12]:
df.columns[df.isnull().any()]

Index(['Storage type', 'GPU', 'Screen'], dtype='object')

In [13]:
print(f'{len(df.columns[df.isnull().any()])} columns have missing values.')

3 columns have missing values.

__Q5.__ What's the maximum final price of Dell notebooks in the dataset?

In [14]:
max_price = df[df['Brand'] == 'Dell']['Final Price'].max()

In [15]:
print(f'Maximum final price of Dell notebooks is {max_price}.')

Maximum final price of Dell notebooks is 3936.0.

__Q6__ Median value of Screen

__6.1__ Find the median value of Screen column in the dataset.

In [16]:

med_screen = df['Screen'].median()

print(f'The median value of screen command is {med_screen}.')

The median value of screen command is 15.6.

__6.2__ Calculate the most frequent value of the same Screen column.

In [17]:
mo_fr_screen = df['Screen'].mode()

print(f'The most frequent value of the screen is {mo_fr_screen[0]}.')

The most frequent value of the screen is 15.6.

__6.3__ Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

In [18]:
df['Screen'] = df['Screen'].fillna(mo_fr_screen[0])

__6.4__ Now, calculate the median value of Screen once again. __Has it changed?__

In [19]:
new_med_screen = df['Screen'].median()
print(f'The median value of screen command is {new_med_screen}.')

#https://stackoverflow.com/questions/8924173/how-can-i-print-bold-text-in-python
start = "\033[1m"
end = "\033[0;0m"
if new_med_screen == med_screen:
    print(start+ "No!" + end + " It didn't change.")
else:
    print(start + "Yes!" + end + " It changed.")

The median value of screen command is 15.6.
No! It didn't change.

__Q7.__  Sum of weights

__7.1__ Select all the "Innjoo" laptops from the dataset.

In [20]:
in_lap = df[df['Brand'] == 'Innjoo']

__7.2__ Select only columns RAM, Storage, Screen.

In [21]:
in_lap_new = in_lap[['RAM', 'Storage', 'Screen']]

__7.3__ Get the underlying NumPy array. Let's call it __X__.

In [22]:
X = in_lap_new.values

__7.4__ Compute matrix-matrix multiplication between the __transpose of X__ and __X__. To get the transpose, use __X.T__. Let's call the result __XTX__.

In [23]:
#transpose of X
X_tr = X.T

#matrix -matrix multiplication of X.T and X.
XTX = X_tr @ X

__7.5__ Compute the inverse of XTX.

In [24]:
inv_XTX = np.linalg.inv(XTX)

__7.6__ Create an array __y__ with values [1100, 1300, 800, 900, 1000, 1100].

In [25]:
y = np.array( [1100, 1300, 800, 900, 1000, 1100])

__7.7__ Multiply the inverse of __XTX__ with the transpose of __X__, and then multiply the result by __y__. Call the result __w__.

In [26]:
w = (inv_XTX @ X_tr)@y

In [27]:
w

array([45.58076606,  0.42783519, 45.29127938])

__7.8__ What's the sum of all the elements of the result?

In [28]:
sum_we  = 0.0
for i in range(len(w)):
    sum_we = sum_we + w[i]
print(f'Sum of the elemnts for w is {start}{sum_we:.2f}{end}.')

Sum of the elemnts for w is 91.30.